@use "./partials/variables" as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "~bootstrap/scss/bootstrap";

h1 {
    color: $text-color;
}

i {
    cursor: pointer;
}
#markdown-content {
    p,
    li {
        color: white;
    }

    h2 {
        color: $text-color;
    }
    h3 {
        color: ghostwhite;
    }
}

#app {
    width: 100%;
    height: 100vh;
    background-color: #2d2e2d;
    overflow: hidden;

    nav {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;

        #nav {
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style-type: none;

                li {
                    cursor: pointer;
                    padding: 0 10px;

                    a {
                        text-decoration: none;
                        color: $text-color;
                    }
                }
            }
        }
        #register-login {
            color: white;
        }
        #hamburger-logo {
            display: flex;
            justify-content: center;
            align-items: center;

            #hamburger {
                margin-left: 250px;
            }
        }
    }
    #main-aside {
        width: 100%;
        height: 90%;
        background-color: #313232;
        // display: flex;
        // justify-content: center;
        // align-items: center;

        #aside {
            width: 12%;
            height: 100%;
            background-color: #2d2e2d;
            transition: width 0.2s linear;
            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: column;

            div {
                details {
                    text-decoration: none;

                    &[open] {
                        summary {
                            i {
                                transform: rotate(90deg);
                                transition: all 0.2s linear;
                            }
                        }
                    }

                    ul {
                        list-style-type: none;
                        list-style: none;

                        li {
                            a {
                                color: white;
                                text-decoration: none;
                            }
                        }
                    }
                    summary {
                        color: $text-color;
                        height: 40px;
                        user-select: none;
                        font-size: 1.2em;

                        &::marker {
                            color: transparent;
                        }
                        i {
                            transition: all 0.2s linear;
                        }
                    }
                }
                // details summary::-webkit-details-marker {
                //     display: none;
                // }
            }
        }
        main {
            width: 88%;
            height: 100%;
            overflow: auto;
        }
    }
}
#myChart,
#myPieChart,
#technologies-create,
#technologies-edit,
#technologies-show,
#technologies-index,
#categories-create,
#categories-edit,
#categories-show,
#projects-create,
#projects-edit,
#markdown-content,
#categories-index,
#projects-index {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: #2d2e2d;
    border-radius: 10px;
    padding: 20px;
    margin: 40px 0;

    label {
        color: white;
        font-size: 1.1em;
        padding: 5px 0;
    }
}

#technologies-index,
#categories-index,
#projects-index {
    .index-div {
        background-color: #2d2e2d;
        height: 80px;

        &:hover {
            background-color: #313232;
        }
        a {
            i {
                padding: 15px 20px;
                background-color: #262626;
                border-radius: 10px;
                -webkit-box-shadow: 0px 1px 51px -13px rgb(195, 195, 195);
                -moz-box-shadow: 0px 1px 51px -13px rgb(195, 195, 195);
                box-shadow: 0px 1px 51px -13px rgb(195, 195, 195);

                &:hover {
                    -webkit-box-shadow: 0px 1px 51px 2px rgb(195, 195, 195);
                    -moz-box-shadow: 0px 1px 51px 2px rgb(195, 195, 195);
                    box-shadow: 0px 1px 51px 2px rgb(195, 195, 195);
                }
            }
        }
    }
}
#myPieChart,
#myChart {
    padding: 50px;
}

#pie {
    width: 44%;
    display: inline-block;
}
#chart {
    width: 55%;
    display: inline-block;
}
